<p>Hello from Read Together,</p>
<p>You have been invited to a book discussion!</p>
<p>Come check out the site <a href="https://together-we-read.herokuapp.com/">here</a>. Once you log in (or register if you don't have an account yet), you'll be directed to all of the discussions you can participate in.</p>
