<body id="book-background">
  <div class="jumbotron center-block">
    <h1 class="text-center header-style">Welcome!</h1>
    <h2 class="text-left header-style">What is Read Together?</h2>
    <p class="text-left">Read together is an easy way for you to discuss your favorite books with other people. Once you log in, you'll be directed to your discussions page which shows the discussions you've created, as well as those you've been invited to. To get started with creating your own discussion, simply search for a book. Discussions are private by default, meaning only users you invite to the discussion can comment, but you can also make your discussions public, allowing any user to see and comment on your discussions.</p>
    <div class="text-right">
      <p>
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      </p>
    </div>
  </div>
</body>
