<h1 class="text-center"><%= @section.book_discussion.book_title %></h1>
<p class="text-center">By: <%= @section.book_discussion.book_author %></p>
<p class="text-center"><%= image_tag(@section.book_discussion.book_image_url, :alt => "Cover Image") %></p>
<h2 class="text-center"><%= @section.title %></h2>
