* {
  font-family: 'Inconsolata', monospace;
}

h1.header-style,
h2.header-style {
  font-family: 'Inconsolata', monospace;
  font-weight: bolder;
}

#greeting {
  margin-top: 15px;
  margin-left: 15px;
  color: gray;
}

#book-background {
  background-image: url('/images/book.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#disqus-container {
  width: 70%;
}

#book-background h1 {
  color: #FFF;
  letter-spacing: 2px;
}

#delete {
  color: black;
}

#invite-container {
  width: 60%;
  margin-top: 10px;
}

#all-discussions {
  margin-right: 10px;
}

#sections-container {
  width: 60%;
}

#owned-discussions,
#invited-discussions {
  border: none;
}

.user-container {
  width: 15%;
  margin: 0 auto;
}

.field {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bigger-links {
  font-size: 20px;
}

.btn-group .btn {
  width: 50%;
}

.dropdown {
  display: inline-block;
}

a:link,
a:visited {
  color: black;
  text-decoration: underline;
}

.input {
  display: inline;
}

.form-input {
  width: 100%;
}

hr.discussion-divider {
  padding: 0;
  border: none;
  border-top: medium double #8c8c8c;
  color: #8c8c8c;
  text-align: center;
}
hr.discussion-divider:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #fff;
}

@media only screen and (max-width: 766px) {
    #book-search-info {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
    }
}
