#book-background {
  background-image: url('/images/book.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#disqus-container {
  width: 50%;
}
