<form class="center-block" id="search-discussions-form" role="search" action="/search_discussions">
  <div class="form-group">
    <input type="text" name="q" class="form-control" placeholder="Search Discussions...">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
