<% if current_user %>
  <h2 class="text-center">Discussions You've Created</h2>
  <% if current_user.book_discussions.any? %>
    <ul class="list-group">
      <% current_user.book_discussions.each do |discussion| %>
      <li class="list-group-item"><%= link_to discussion.book_title, discussion %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center">You haven't created any discussions yet. Search for a book to get started.</p>
  <% end %>

  <h2 class="text-center">Discussions You're Invited To</h2>
  <% @book_discussions.each do |discussion| %>
    <% if discussion.discussion_participants.include?(current_user.email) %>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to discussion.book_title, discussion %></li>
      </ul>
    <% else %>
      <p class="text-center">You haven't been invited to any discussions</p>
    <% end %>
  <% end %>
<% end %>
