<% if current_user %>
  <h2 class="text-center">Your Current Discussions</h2>
  <% if current_user.book_discussions.any? %>
    <ul class="list-group">
      <% current_user.book_discussions.each do |discussion| %>
      <li class="list-group-item"><%= link_to discussion.book_title, discussion %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-center">You haven't created any discussions yet. Search for a book to get started.</p>
  <% end %>
<% end %>
