<h1 class="text-center header-style">Search Results</h1>

<% if @book_discussions == [] %>
  <p class="text-center">No discussions could be found</p>
<% else %>
  <%= render 'search_public' %>

  <ul class="list-group">
    <% @book_discussions.each do |discussion| %>
    <li class="list-group-item text-center" id="invited-discussions">
      <p class="bigger-links"><%= link_to discussion.book_title, discussion %></p>
      <p>By: <%= discussion.book_author %></p>
      <p><%= image_tag(discussion.book_image_url, :alt => "Cover Image") %></p>
    </li>
    <hr>
    <% end %>
  </ul>
<% end %>
