<h1 class="text-center"><%= @book[0] %></h1>
<h2 class="text-center">By: <%= @book[1] %></h2>


<div class="text-center">
  <%= image_tag(@book[2], :id => "cover-image", :alt => "Cover Image") %>
</div>
