<h1 class="text-center">Discussion for: <%= @book_discussion.book_title %></h1>
<p class="text-center">By: <%= @book_discussion.book_author %></p>
<p class="text-center"><%= image_tag(@book_discussion.book_image_url, :alt => "Cover Image") %></p>

<% if current_user.id == @book_discussion.user_id %>
  <%= link_to 'Delete Discussion', book_discussion_path(@book_discussion), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
